---
import Layout from "@layouts/Layout.astro";
import CardLibros from "@components/CardLibros.astro";
import { getPool } from "@/lib/database";
import { type LibrosTypes } from "@/types/libros";

let books: LibrosTypes[] = [];

try{
  const pool = await getPool();
  const response = await pool.query`SELECT TOP 15 * FROM libros`;
  books = response.recordset;

} catch(error) {
  console.log('Error al hacer la peticion', error)
}
---


<Layout title="Librería">
  <section class="md:mt-24 mt-5 mb-20">
    {books.map(libro => (
      <CardLibros libro={libro} />
    ))}
  </section> 
</Layout>

<style>
  section{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
  }
  

</style>