---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Perfil" >
  <section class="dark:bg-zinc-900">
    <div class="datos_usuario">

      <div>
        <div class="foto_usuario"><img src="https://th.bing.com/th/id/OIP.8xpERVMOpseDTK8oTEOsUAHaHa?cb=iwp2&rs=1&pid=ImgDetMain" alt="Tu foto de perfil">
          <button type="button" class="btn bg-principal-200 border border-principal-700 dark:bg-zinc-700 dark:border-transparent">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="dark:text-white"
            >
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
              <path d="M13.5 6.5l4 4" />
            </svg>
          </button>
        </div>

        <p class="nombre_usuario dark:text-white">John Doe</p>

      </div>

      <button type="button" class="editar_perfil bg-principal-200 text-principal-700 dark:bg-zinc-800 dark:text-white hover:bg-principal-300 dark:hover:bg-zinc-600 transition-colors duration-500">Editar perfil</button>

      <form action="" class="formulario">
      <label for="nombre" class="dark:text-white">Nombre</label>
      <input type="text" placeholder="Nombre" name="nombre" id="nombre" class="bg-principal-100 dark:bg-zinc-800 dark:text-white"/>

      <label for="biografia" class="dark:text-white">Biografía</label>
      <textarea name="biografia" id="biografia" placeholder="Añade algo a tu biografía" class="bg-principal-100 dark:bg-zinc-800 dark:text-white"></textarea>

      <label for="telefono" class="dark:text-white">Teléfono</label>
      <input type="text" name="telefono" placeholder="Teléfono" id="telefono" class="bg-principal-100 dark:bg-zinc-800 dark:text-white"/>

      <label for="cedula" class="dark:text-white">Cédula de identidad</label>
      <input type="text" name="cedula" placeholder="Cédula de identidad" id="cedula" class="bg-principal-100 dark:bg-zinc-800 dark:text-white"/>

      <label for="sexo" class="dark:text-white">Sexo</label>
      <div class="flecha">
        <select name="sexo" id="sexo" class="bg-principal-100 dark:bg-zinc-800 dark:text-white dark:border-transparent">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>

      <label for="pais" class="dark:text-white">País</label>
      <div class="flecha">
        <select name="pais" id="pais" class="bg-principal-100 dark:bg-zinc-800 dark:text-white dark:border-transparent">
          <option value="nicaragua">Nicaragua</option>
          <option value="venezuela">Venezuela</option>
          <option value="colombia">Colombia</option>
          <option value="peru">Perú</option>
          <option value="ecuador">Ecuador</option>
        </select>
      </div>

      <label for="departamento" class="dark:text-white">Departamento</label>
      <div class="flecha">
        <select name="departamento" id="departamento" class="bg-principal-100 dark:bg-zinc-800 dark:text-white dark:border-transparent">
          <option value="masaya">Masaya</option>
          <option value="granada">Granada</option>
          <option value="carazo">Carazo</option>
          <option value="rivas">Rivas</option>
          <option value="leon">León</option>
        </select>
      </div>
      
      <label for="municipio" class="dark:text-white">Municipio</label>
      <div class="flecha">
        <select name="municipio" id="municipio" class="bg-principal-100 dark:bg-zinc-800 dark:text-white dark:border-transparent">
          <option value="masaya">Masaya</option>
          <option value="granada">Granada</option>
          <option value="carazo">Carazo</option>
          <option value="rivas">Rivas</option>
          <option value="leon">León</option>
        </select>
      </div>
    </form>
  </div>

    <div class="mas_datos">
      <div class="libros dark:bg-zinc-800 bg-principal-100 dark:text-white"><p>Proximamente</p></div>
      <div class="libros dark:bg-zinc-800 bg-principal-100 dark:text-white"><p>Proximamente</p></div>
      <div class="libros dark:bg-zinc-800 bg-principal-100 dark:text-white"><p>Proximamente</p></div>
    </div>
  </section>
</Layout>

<style>


  section {
    display: grid;
    gap: 50px;
    width: 100%;
    grid-template-areas: 
      "datos mas mas mas mas mas"
  }

  .formulario{
    width: 256px;
    display: flex;
    flex-direction: column;
    display: none;
  }

  .datos_usuario  {
    grid-area: datos;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .datos_usuario label {
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0 0 0;
    display: block;
  }
  .datos_usuario input, select, textarea {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 14px;
    
    &:focus {
      outline: none;
    }
  }
  .datos_usuario textarea {
    height: 100px;
    resize: vertical;
    padding: 10px 20px;
    min-height: 40px;
  }
  .flecha{
    width: 100%;
    position: relative;
  }
  .flecha select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .datos_usuario select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.5);
    
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgba(0,0,0,0.5)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    
    &:focus {
      outline: none;
    }
  }

  .mas_datos {
    grid-area: mas;
    padding: 100px 0;
    height: 900px;
  }
  .libros{
    width: 90%;
    height: 33.33%;
    margin-inline: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
  }
  .foto_usuario {
    width: 256px;
    height: 256px;
    background-color: var(--color-principal-100);
    border-radius: 50%;
    border: 2px solid var(--color-principal-700);
    display: block;

    position: relative;
  }
  .foto_usuario img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .btn{
    position: absolute;
    border-radius: 50%;padding: 10px;
    top: 75%;
    right: 5%;
    cursor: pointer;

  }
  .nombre_usuario {
    font-size: 20px;
    margin-block: 10px;
  }
    .editar_perfil {
    width: 256px;
    height: 40px;
    border-radius: 10px;

    cursor: pointer;
    font-size: 16px;
  }
</style>
<script>
  const boton = document.querySelector('.editar_perfil') as HTMLButtonElement;
  const formulario = document.querySelector('.formulario') as HTMLFormElement;
  const nombre_usuario = document.querySelector('.nombre_usuario') as HTMLParagraphElement;

  boton.addEventListener('click', () => {
    formulario.style.display = 'block';
    boton.style.display = 'none';   
    nombre_usuario.style.display = 'none';
  });
</script>