---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Perfil">
  <section>

    <div class="datos_usuario">

      <div class="foto_usuario"><img src="https://th.bing.com/th/id/OIP.8xpERVMOpseDTK8oTEOsUAHaHa?cb=iwp2&rs=1&pid=ImgDetMain" alt="Tu foto de perfil">
        <button type="button" class="btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
            <path d="M13.5 6.5l4 4" />
          </svg>
        </button>
      </div>

      <form action="" class="formulario">
      <label for="nombre">Nombre</label>
      <input type="text" placeholder="Nombre" name="nombre" id="nombre"/>

      <label for="biografia">Biografía</label>
      <input type="text" name="biografia" placeholder="Añade algo a tu biografía" id="biografia"/>

      <label for="telefono">Teléfono</label>
      <input type="text" name="telefono" placeholder="Teléfono" id="telefono"/>

      <label for="cedula">Cédula de identidad</label>
      <input type="text" name="cedula" placeholder="Cédula de identidad" id="cedula"/>

      <label for="sexo">Sexo</label>
      <div class="flecha">
        <select name="sexo" id="sexo">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>

      <label for="pais">País</label>
      <div class="flecha">
        <select name="pais" id="pais">
          <option value="nicaragua">Nicaragua</option>
          <option value="venezuela">Venezuela</option>
          <option value="colombia">Colombia</option>
          <option value="peru">Perú</option>
          <option value="ecuador">Ecuador</option>
        </select>
      </div>

      <label for="departamento">Departamento</label>
      <div class="flecha">
        <select name="departamento" id="departamento">
          <option value="masaya">Masaya</option>
          <option value="granada">Granada</option>
          <option value="carazo">Carazo</option>
          <option value="rivas">Rivas</option>
          <option value="leon">León</option>
        </select>
      </div>
      
      <label for="municipio">Municipio</label>
      <div class="flecha">
        <select name="municipio" id="municipio">
          <option value="masaya">Masaya</option>
          <option value="granada">Granada</option>
          <option value="carazo">Carazo</option>
          <option value="rivas">Rivas</option>
          <option value="leon">León</option>
        </select>
      </div>
    </form>
  </div>

    <div class="mas_datos">
      <div class="libros"><p>Proximamente</p></div>
      <div class="libros"><p>Proximamente</p></div>
      <div class="libros"><p>Proximamente</p></div>
    </div>

  </section>
</Layout>

<style>

  section {
    display: grid;
    gap: 50px;
    width: 100%;
    grid-template-areas: 
      "datos mas mas mas mas mas"
  }

  .formulario{
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .datos_usuario  {
    grid-area: datos;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .datos_usuario label {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  .datos_usuario input {
    width: 350px;
    height: 50px;
    background-color: var(--color-principal-100);
    border: 1px solid var(--color-principal-700);
    border-radius: 10px;
    padding: 0 20px;
    
    &:focus {
      outline: 2px solid var(--color-principal-700);
    }
  }
  .flecha{
    width: 350px;
    position: relative;
  }
  .flecha select{
    width: 100%;
    height: 50px;
    padding: 0 40px 0 20px;
    background-color: var(--color-principal-100);
    border: 1px solid var(--color-principal-700);
    border-radius: 10px;
    font-size: 16px;
    font-family: inherit;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .datos_usuario select {
    width: 100%;
    height: 50px;

    background-color: var(--color-principal-100);
    border: 1px solid var(--color-principal-700);
    border-radius: 10px;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.5);
    

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgba(0,0,0,0.5)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    
    &:focus {
      outline: 2px solid var(--color-principal-700);
    }
  }

  .mas_datos {
    grid-area: mas;
    padding: 100px 0;

  }
  .libros{
    width: 90%;
    height: 33.33%;
    margin-inline: auto;
    background-color: var(--color-principal-100);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
  }
  .foto_usuario {
    width: 350px;
    height: 350px;
    background-color: var(--color-principal-100);
    border-radius: 50%;
    border: 2px solid var(--color-principal-700);
    display: block;

    position: relative;
  }
  .foto_usuario img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .btn{
    position: absolute;
    background-color: var(--color-principal-200);
    border: 1px solid var(--color-principal-700);
    border-radius: 50%;padding: 10px;
    top: 75%;
    right: 5%;
    cursor: pointer;
    
    &:hover {
      background-color: var(--color-principal-300);
      border: 1px solid var(--color-principal-800);
    }
  }
</style>