<header>
  <div>
    <a href="#">
      <img src="/public/Logo.png" alt="logo" width="90" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Libreria</a></li>
      <li><a href="#">Estadisticas</a></li>
      <li><a href="#">Acerca</a></li>
      <a href="#"
        ><img src="/public/user (2).png" alt="user" width="35" height="35" /></a
      >
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #937263;
    height: 70px;
    border-radius: 10px;
    padding-inline: 40px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #937263;
    border-radius: 10px;
  }
  ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
  }
  a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
</style>
