---
import { OpcionesMenu } from "@components/OpcionesMenu";
---

<nav
  class="flex items-center gap-3 bg-principal-600/80 fixed bottom-0 text-white px-8 py-1 mb-2 rounded-2xl left-[50%] translate-x-[-50%] z-50 shadow-2xl drop-shadow-2xl md:hidden dark:bg-zinc-800/20 backdrop-blur-sm"
>
  <a class="bg-principal-400 dark:bg-zinc-700" href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-home"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
        d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
        d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
    >
  </a>
  <a class="bg-principal-400 dark:bg-zinc-700" href="/libreria">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-book"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path
        d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6l0 13"
      ></path><path d="M12 6l0 13"></path><path d="M21 6l0 13"></path></svg
    >
  </a>
  <a class="bg-principal-400 dark:bg-zinc-700" href="/estadistica">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-chart-line"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 19l16 0"></path><path d="M4 15l4 -6l4 2l4 -5l4 4"></path></svg
    >
  </a>
  <a class="bg-principal-400 dark:bg-zinc-700" href="/acerca">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path d="M12 9h.01"
      ></path><path d="M11 12h1v4h1"></path></svg
    >
  </a>
  <OpcionesMenu client:load />
</nav>

<style>
  nav a {
    display: flex;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
  }
</style>
