---
import LayoutAccount from "@layouts/LayoutAccount.astro";
---

<LayoutAccount title="Inicia sesión">
  <div class="container">
    <div class="form-box login">
      <form id="login-form">
        <h1 class="font-bold mb-8">Inicia sesión</h1>
        <div class="input-box">
          <input type="text" placeholder="Correo electrónico" required />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Contraseña" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="forgot-link mb-6 mt-4">
          <a href="/account/password">¿Has olvidado tu contraseña?</a>
        </div>
        <button type="submit" class="btn">Iniciar</button>
      </form>
    </div>

    <div class="form-box register">
      <form id="register-form">
        <h1 class="font-bold">Registrate</h1>
        <div class="input-box">
          <input type="text" placeholder="Nombres y apellidos" required name="nombre" />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="email" placeholder="Correo electrónico" required name="correo" />
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Contraseña" required name="contrasenia" />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Fecha de nacimiento" required name="fecha_nacimiento" />
          <i class="bx bx-notepad"></i>
        </div>
        <div class="radio-inputs">
          <label class="radio">
            <input type="radio" name="radio" checked id="masculino">
            <span class="name">Maculino</span>
          </label>
              
          <label class="radio">
            <input type="radio" name="radio" id="femenino">
            <span class="name">Femenino</span>
          </label>
        </div>
        <div>
          <p id="error-msg"></p>
        </div>
        <button type="submit" class="btn">Registrar</button>
      </form>
    </div>

    <div class="toggle-box">
      <div class="toggle-panel toggle-left">
        <h1 class="-mb-4">Hola, Bienvenido!</h1>
        <p>¿No tienes una cuenta?</p>
        <button class="btn register-btn">Registrate</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1 class="-mb-4">¡Bienvenido de nuevo!</h1>
        <p>¿Ya tienes una cuenta?</p>
        <button class="btn login-btn">Iniciar sesión</button>
      </div>
    </div>
  </div>
</LayoutAccount>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    position: relative;
    width: 850px;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    background: #ddd5cb;
  }

  .form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #ddd5cb;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition:
      0.6s ease-in-out 1.2s,
      visibility 0s 1s;
  }

  .container.active .form-box {
    right: 50%;
  }

  .form-box.register {
    visibility: hidden;
  }

  .container.active .form-box.register {
    visibility: visible;
  }

  form {
    width: 100%;
  }

  .container h1 {
    font-size: 36px;
  }

  .input-box {
    position: relative;
    margin: 15px 0;
  }

  .input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #f8f6f4;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }

  .input-box input::placeholder {
    color: #888;
    font-weight: 400;
  }

  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #a0826f;
  }

  .forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
  }

  .btn {
    padding: 10px 40px;
    background: #a0826f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }

  .container p {
    font-size: 14.5px;
    margin: 15px 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
  }

  .toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .toggle-box::before {
    content: "";
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
    background: #7b5e53;
  }

  .container.active .toggle-box::before {
    left: 50%;
  }

  .toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.6s ease-in-out;
  }

  .toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
  }

  .container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: 0.6s;
  }

  .toggle-panel.toggle-right {
    right: -50%;
    transition-delay: 0.6s;
  }

  .container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
  }

  .toggle-panel p {
    margin-bottom: 20px;
  }

  .toggle-panel .btn {
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
  }

  @media screen and (max-width: 650px) {
    .container {
      height: calc(100vh - 40px);
    }

    .form-box {
      bottom: 0;
      width: 100%;
      height: 70%;
    }

    .container.active .form-box {
      right: 0;
      bottom: 30%;
    }

    .input-box {
      margin: 20px 0;
    }

    .forgot-link {
      margin: -5px 0 15px;
    }

    .toggle-box::before {
      left: 0;
      top: -270%;
      width: 100%;
      height: 300%;
      border-radius: 20vw;
    }

    .container.active .toggle-box::before {
      left: 0;
      top: 70%;
    }

    .toggle-panel {
      width: 100%;
      height: 30%;
    }

    .toggle-panel.toggle-left {
      top: 0;
    }

    .container.active .toggle-panel.toggle-left {
      left: 0;
      top: -30%;
    }

    .toggle-panel.toggle-right {
      right: 0;
      bottom: -30%;
    }

    .container.active .toggle-panel.toggle-right {
      bottom: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .form-box {
      padding: 20px;
    }

    .toggle-panel h1 {
      font-size: 30px;
    }
  }

  /* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 1rem;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}
</style>

<script>
  import { validarCrearUsuario } from "@utils/validarCrearUsuario";

  const container = document.querySelector(".container") as HTMLElement;
  const registerBtn = document.querySelector(".register-btn") as HTMLElement;
  const loginBtn = document.querySelector(".login-btn") as HTMLElement;

  registerBtn.addEventListener("click", () => {
    container.classList.add("active");
  });

  loginBtn.addEventListener("click", () => {
    container.classList.remove("active");
  });
  
  document.addEventListener("submit", async (event) => {
    event.preventDefault();
    
    if((event.target as Element).matches("#register-form")){
      const errorMsgElement = document.getElementById("error-msg");
      if (errorMsgElement) {
        errorMsgElement.innerText = "";
      }

      const nombre = (event.target as HTMLFormElement).nombre.value;
      const correo = (event.target as HTMLFormElement).correo.value;
      const contrasenia = (event.target as HTMLFormElement).contrasenia.value;
      const fecha_nacimiento = (event.target as HTMLFormElement).fecha_nacimiento.value;
      const masculino = document.getElementById("masculino") as HTMLInputElement;
      const id_sexo = masculino.checked ? 1 : 2;

      const validate = validarCrearUsuario(nombre, correo, contrasenia, fecha_nacimiento);

      if(validate !== true){
        if (errorMsgElement) {
          errorMsgElement.innerHTML = validate;
          errorMsgElement.classList.add("text-red-500");
        }
        return;
      }

      const response = await fetch("/api/register", {
        method: "POST",
        headers:{
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ nombre, correo, contrasenia, fecha_nacimiento, id_sexo }),
      });
      
      const data = await response.json();
      
      if(response.status === 200){
        if (event.target) {
          (event.target as HTMLFormElement).reset();
        }
      } else {
        if (errorMsgElement) {
          errorMsgElement.innerHTML = data.message;
          errorMsgElement.classList.add("text-red-500");
        }
      }
    }
  })
</script>
