---
import LayoutAccount from "@layouts/LayoutAccount.astro";
---

<LayoutAccount title="Cambiar contraseña">
  <p class="text-black font-bold text-2xl text-center">Cambiar contraseña</p>
</LayoutAccount>
