---
import LayoutAccount from "@layouts/LayoutAccount.astro";
---

<LayoutAccount title="Recuperar contraseña">
  <div class="container"> 
    <div class="form-box recover">
      <form action="">
        <h1 class="font-bold mb-8">Recuperar contraseña</h1>
        <div class="forgot-link mb-6 mt-4">
          <a href="/account/password">Ingrese su correo para verificar su identidad</a>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Correo electrónico" required />
          <i class="bx bxs-envelope"></i>
        </div>
        <button type="submit" class="btn">Continuar</button>
      </form>
    </div>

    <div class="form-box register">
      <form action="">
        <h1 class="font-bold">Recuperar contraseña</h1>
        <div class="input-box">
          <input type="text" placeholder="Código" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Contraseña" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Confirmar contraseña" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        
        <button type="button" class="btn" onclick="window.location.href='/account/login'">Continuar</button>

      </form>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const container = document.querySelector(".container");
        const recoverForm = document.querySelector(".form-box.recover form");
    
        if (recoverForm && container) {
          recoverForm.addEventListener("submit", (e) => {
            e.preventDefault(); // Evita envío real
            container.classList.add("active"); // Activa segundo formulario
            
          });
        }
      });
    </script>
    
</LayoutAccount>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    position: relative;
    width: 850px;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    background: #ddd5cb;
    
  }

  .form-box {
    position: absolute;
    right: 23%;
    width: 50%;
    height: 100%;
    background: #ddd5cb;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: 0.3s ease-in-out, visibility 0s;
  }

  .form-box.register {
    visibility: hidden;
  }

  .container.active .form-box.register {
    visibility: visible;
  }

  form {
    width: 100%;
    transition: all .3s ease-in-out;

  }

  /* Tamaño del texto */
  .container h1 {
    font-size: 32px;
  }

  /* Posición del icono en input */
  .input-box {
    position: relative;
    margin: 15px 0;
  }

  /* Para input */
  .input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #f8f6f4;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }

  /* Texto del input */
  .input-box input::placeholder {
    color: #888;
    font-weight: 400;
  }

  /* Para ícono */
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #a0826f;
  }

  /* Para el Texto  */
  .forgot-link a { 
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
  }

  /* Para botón */
  .btn {
    padding: 10px 40px;
    background: #a0826f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
</style>



